<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Homepage</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- For Font style -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

</head>

<body>
    <section class="header" id="header">
        <div class="navbar-option">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="{% url 'home' %}">Accueil</a></li>
{#                            <li><a href="{% url 'home' %}">About</a></li>#}
{#                            <li><a href="{% url 'home' %}">Blog</a></li>#}
                            <li><a href="{% url 'search' %}">Recherche</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <section class="gallery">
        <div class="container">
{#            <h3>#}
{#                Recherchez-ici!#}
{#            </h3>#}

             <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6">
                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item"><h4>Société: <b>{{ post.societe }}</b></h4></li>
                    <li class="list-group-item"><h4>Nom: <b>{{ post.name }}</b></h4></li>
                    <li class="list-group-item"><h4>Numéro 1: <b>{{ post.number_1 }}</b></h4></li>
                    <li class="list-group-item"><h4>Numéro 2: <b>{{ post.number_2 }}</b></h4></li>
                    <li class="list-group-item"><h4>Email: <b>{{ post.email }}</b></h4></li>
                      <li class="list-group-item"><h4>Adresse: <b>{{ post.adresse }}</b></h4></li>
                      <li class="list-group-item"><h4>Quartier: <b>{{ post.quartier }}</b></h4></li>
                      <li class="list-group-item"><h4>Commune: <b>{{ post.commune }}</b></h4></li>
                      <li class="list-group-item"><h4>Ville: <b>{{ post.ville }}</b></h4></li>
                      <li class="list-group-item"><h4>Province: <b>{{ post.province }}</b></h4></li>
                      <li class="list-group-item"><h4>Secteur 1: <b>{{ post.secteur_1 }}</b></h4></li>
                      <li class="list-group-item"><h4>Secteur 2: <b>{{ post.secteur_2 }}</b></h4></li>
                      <li class="list-group-item"><h4>Site web: <b>{{ post.site_web }}</b></h4></li>
                      <li class="list-group-item"><h4>Date de mise à jour: <b>{{ post.created | timesince }}</b></h4></li>
                  </ul>
            </div>
      </div>
    <div class="col-md-3"></div>


        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="footer-content">
                            <div class="footer-logo">
                                <img src="{% static 'images/footer-logo.png' %}" alt="" />
                            </div>
                            <div class="footer-text">
                                <p>
                                    Pour plus d'information...
                                </p>
                            </div>
                            <div class="footer-address">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue 4652 colonel ebeya, gombe, kinshasa Congo RD.
                                    </li>

                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i> +(243)-81-353-0838

                                    </li>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i> katakugermain@gmail.com

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-content">
                            <div class="news">
                                <p>
                                    Newsletter Subscribe
                                </p>
                            </div>
                            <div class="subscribe">
                                <form>
                                    <div class="input-group">
                                        <input type="email" class="form-control" size="50" placeholder="Enter E-mail" required>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-danger">Suscrire</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>

                                       FACEBOOK</a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>

                                       TWITTER</a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>

                                   LINKEDIN</a></li>
                                </ul>
                            </div>
                            <p class="copyright">
                                Copyright 2018. Annuaire RDC | Produit de <a href="#">Sunphenix</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel/highlight.js' %}"></script>
    <script src="{% static 'js/owl-carousel/app.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        })
    </script>
    <script type="text/javascript">
        $("[data-fancybox]").fancybox({
            // Options will go here
        });
    </script>
</body>

</html>